.card {
    margin: 1em;
    padding: 1em;
    border: 1px solid #0f0;
    background-color: #fff;
    font-family: Made;
  font-size: 0.75rem;
  font-weight: 400;
}

.card a{
    text-decoration: none;
    color: #0a0;
}

.card li{
    list-style: none;
}